@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  --primary:#3BBDB6;
}

li,a {
  list-style-type: none;
  text-decoration: none;
}

.Toastify__toast-icon{
  overflow: hidden;
}
